.tab-content .tab-pane .wrapper {
	padding: 2%;
	div, h3 {
		padding: 0 .2rem 0 .2rem;
	}
	h3 {
		padding: 0 0 .1rem 0;
	}
}
#nav-discord .wrapper {
	background-color: $discord-background;
	border: solid 1px #FFF;
	border-top: 0 transparent;
	border-left: 5px solid $blanko-pink;
	border-radius: 0 0 0.25rem 0.25rem;
	color: $discord-text;
	font-family: 'Roboto', sans-serif;
}
#nav-telegram .wrapper {
	background-color: #fff;
	border-radius: 0 0 0.25rem 0.25rem;
	color: #000;
	font-family: 'Roboto', sans-serif;
}
#nav-email .wrapper {
	background-color: #fff;
	border-radius: 0 0 0.25rem 0.25rem;
	color: rgb(32,33,36);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.875rem;
}

#nav-discord,
#nav-telegram,
#nav-email {
	.wrapper {
		white-space: pre-line;
	}
}

.nav-tabs .nav-link:hover {
	color: $blanko-pink;
}
