body {
	background-color: $blanko-blue;
}

h1, 
p, 
span {
	color: #fff;
}

.preview {
	word-wrap: break-word;
	a {
		color: #fff;
	}
}

label {
	font-size: 125%;
	font-weight: 800;
	font-style: "Comic Sans MS", "Comic Sans", cursive;
	color: $blanko-pink;
}

.form-check label {
	font-size: initial;
}

.form-check .form-check-input:checked {
	background-color: $blanko-pink;
	border-color: $blanko-pink;
}


img.margin_right {
		position: absolute;
		bottom: 0;
		right: 0;
		opacity: 0.5;
		z-index:-1;
}
